header {
    text-align: center;
    width: 80%;
    padding: 20px;
    border: 1px solid;
    margin: auto;
}
section {
    text-align: center;
    width: 80%;
    padding: 20px;
    border: 1px solid;
    margin: auto;
}
footer {
    text-align: center; 
    width: 80%;
    padding: 20px;
    border: 1px solid;
    margin: auto;
}
main {
    text-align: center; 
    width: 80%;
    padding: 20px;
    border: 1px solid;
    margin: auto;
}
article {
    text-align: center;
    width: 80%;
    padding: 20px;
    border: 1px solid;
    margin: auto;
}
ol { 
    display:table; 
    margin:0 auto;
}
ul { 
    display:table; 
    margin:0 auto;
}
.gradient {
    background: linear-gradient(to top, #cfe7fa, #FC7070);  
}